name: Manual-Build

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: 'Java Version'
        required: true
        default: 'adopt@1.11'
      scala-version:
        description: 'Scala Version'
        required: true
        default: '2.13.3'
      scala-binary-version:
        description: 'Scala Binary Version'
        required: true
        default: '2.13'

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala:
          - {
            name: "Scala",
            version: "${{ github.event.inputs.scala-version }}",
            binary-version: "${{ github.event.inputs.scala-binary-version }}",
            java-version: "${{ github.event.inputs.java-version }}"
          }

    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.scala.java-version }}

      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('**/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-

      - name: "Build for ${{ matrix.scala.name }} ${{ matrix.scala.version }} - ${{ github.run_number }}"
        env:
          CURRENT_BRANCH_NAME: ${{ github.ref }}
          RUN_ID: ${{ github.run_id }}
          RUN_NUMBER: ${{ github.run_number }}
        run: |
          echo "[BEFORE]CURRENT_BRANCH_NAME=${CURRENT_BRANCH_NAME}"
          export CURRENT_BRANCH_NAME="${CURRENT_BRANCH_NAME#refs/heads/}"
          echo " [AFTER]CURRENT_BRANCH_NAME=${CURRENT_BRANCH_NAME}"
          echo "RUN_ID=${RUN_ID}"
          echo "RUN_NUMBER=${RUN_NUMBER}"
          echo "Push #${PUSH_NUMBER}"
          PROJECT_VERSION=$(git log --format=%H -1)
          .github/workflows/sbt-build.sh ${{ matrix.scala.version }} $PROJECT_VERSION
